@media (max-width: 768px) {
  .box-items1,
  .box-items2,
  .box-items3,
  .box-items4 {
    width: 225px;
    font-size: 10px;
  }
  .content {
    font-size: 0.6em;
  }
  span {
    font-size: 1em;
    margin-left: 275px;
  }
  .brand {
    font-size: 1em;
  }
}
@media (max-width: 425px) {
  span {
    text-align: center;
    margin-left: 60px;
  }
  .content-details {
    flex-direction: column;
    align-items: center;
  }
  .box-items1,
  .box-items2,
  .box-items3,
  .box-items4 {
    margin-top: 18px;
    flex-wrap: wrap;
  }
  .box-items4 {
    margin-top: 3px;
  }
  .workers,
  .management,
  .talents,
  .operator {
    flex-wrap: wrap;
    align-items: start;
  }
  p {
    text-align: start;
  }
  .content {
    font-size: 1.3em;
    width: 300px;
  }
}
