@media (max-width: 800px) {
  .main-box {
    min-width: 768px;
  }

  span {
    margin-left: 305px;
  }
  .box-items1,
  .box-items2,
  .box-items3,
  .box-items4 {
    width: 230px;
    height: 180px;
    font-size: 10px;
  }
  .box-items1 {
    width: 230px;
    margin-left: 10px;
  }
  .box-items4 {
    margin-right: 10px;
  }
  span,
  .brand {
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
  .main-box {
    min-width: 425px;
  }
  span {
    margin-left: 133px;
    text-align: center;
  }

  .content-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box-items1,
  .box-items2,
  .box-items3,
  .box-items4 {
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .workers,
  .management,
  .talents,
  .operator {
    flex-wrap: wrap;
    align-items: start;
  }
  p {
    text-align: start;
  }
  .content {
    font-size: 1.3em;
    width: 300px;
  }
}
