@import url("./main.css");
@import url("mobile-main.css");


@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v24-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v24-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v24-latin-600.woff2') format('woff2');
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}

html{
    font-size: 15px;
    font-family: "poppins", serif;
}

*{
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}


body{
     background-color:var(--White);
     display:flex;
     align-items: start;
     justify-content: center;
     height: 100vh;
    }