#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero_section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  min-height: 80vh;
  max-width: 40vw;
}
.base-heading {
  font-size: 2.15em;
  margin-block: 0.5em;
  color: var(--Gray700);
}
.description {
  line-height: 1.5em;
}
.controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.controls-button > .cta-button {
  all: unset;
  display: block;
  padding: 1em 2em;
  color: white;
  background-color: black;
  margin-block: 1.33em;
  border-radius: 1000px;
}
.controls-button > #cta_download_ios {
  background-color: var(--Green500);
}
.controls-button > #cta_download_mac {
  background-color: var(--Blue100);
}
