@import "main.css";
@import "mobile.main.css";

@font-face {
  font-display: swap;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/bai-jamjuree-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/bai-jamjuree-v13-latin-600.woff2") format("woff2");
}
:root {
  --Green500: hsl(171, 66%, 44%);
  --Blue100: hsl(233, 100%, 69%);
  --Gray700: hsl(210, 10%, 33%);
  --Gray500: hsl(201, 11%, 66%);
}

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "bai jamjuree", sans-serif;
}
