
.card{
    background-color: var(--white);
    width: 384px;
    padding: 24px;
    box-sizing: border-box;
    margin:calc((100vh - 509px) / 2) auto;
    border-radius: 20px;
    border: 1px solid var(--Gray-950);
    box-shadow: 8px 8px #000;

}
.illustration-card{
    width: 100%;
    display: block;
    border-radius: 10px;
}
main{
    margin: 24px 0;
}

.tag-line{
   font-weight: 800;
   letter-spacing: 0;
   font-size: 14px;
   padding: 4px 12px;
   text-transform: capitalize;
   background-color: var(--yellow);
   display: inline-block;
   border-radius: 5px;
}
.details{
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 14px;
    margin-top: 12px 0;
    color: var(--Gray-950);
}

.base-heading{
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 1.5;
    text-transform: capitalize;
    margin: 12px 0;
}

.content{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--gray-500);
    margin: 0;
}
.profile-image{
    width: 32px;
    float: left;

}
.profile-name{
    display: block;
    font-weight: 800;
    font-style:14px;
    letter-spacing: 0;
    text-transform: capitalize;
    margin:10px 44px;
    position:relative;
    top:5.5px;
}

@media ( max-width: 410px) {
    .card {
            width: 375px;
        }
    
    .tag-line, 
    .details{
       font-size: 12px;
    }
    .base-heading{
        font-size: 20px;
    }
    .content,
    .profile-name{
       font-size: 14px;
    }

}
        



