@media (max-width: 500px) {
  .main-container {
    min-width: 425px;
    flex-direction: column-reverse;
  }
  .content {
    text-align: center;
  }
  h1 {
    font-size: 35px;
    width: 90%;
    text-align: center;
  }
  .paragraph {
    font-size: 21px;
    text-align: center;
    justify-content: center;
  }

  .strength {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    gap: 1.5em;
  }
}
.num,
.storage,
.visited-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-profile {
  min-width: 100px;
  min-height: 300px;
}
