@media (max-width:500px){.main-container{

    max-width: 425px;
    max-height: 100vh;
    flex-direction: column-reverse;

 }

 .strength{
     flex-direction:column ;
     align-items: center;
     gap: 1.5em;
 }

}





