@media (max-width: 768px) {
  .main-container {
    font-size: 12px;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
  }
  .team-profile {
    width: 300px;
    height: 260px;
  }
}
@media (max-width: 425px) {
  .main-container {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 180px;
    padding-left: 188px;
    padding-right: 188px;
    border-radius: 10px;
  }
  .team-profile {
    width: 400px;
  }
  h1 {
    font-size: 2.9em;
  }
  .paragraph {
    font-size: 1.7em;
  }

  .strength {
    flex-direction: column;
    text-align: center;
    margin-inline: 60px;
    font-size: 1.4em;
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .main-container {
    padding-inline: 170px;
    margin-top: 245px;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 2.9em;
  }
  .paragraph {
    font-size: 1.9em;
  }
}
