.main-container {
  max-width: 425px;
  background-color: var(--Blue900);
  border-radius: 18px;
  padding: 26px;
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 1em;

  box-shadow: 0 0 36px #1f1f1f;
}

.box-image {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.title-name {
  color: #fff;
  font-size: 1.5em;
  font-family: "outfit", sans-serif;
  text-transform: capitalize;
  line-height: 3em;
}

.details {
  color: var(--blue500);
  font-size: 1.3em;
  font-family: "outfit", sans-serif;
  font-weight: 400;
  line-height: 1.7em;
}

span {
  gap: 1.5em;
  font-size: 1em;
  color: cyan;
  line-height: 60px;
}
.count {
  color: var(--blue500);
  font-size: 1em;
  gap: 0.3;
}
.border {
  width: 100%;
  height: 0.4px;
  background-color: #878484;
}

.content-icon,
.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.8em;
  gap: 1em;
}
.clock {
  width: 1.5em;
}

.profile-avatar {
  width: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.arts {
  text-transform: capitalize;
  color: var(--blue500);
  font-weight: 300;
  font-size: 1em;
}
.profile-name {
  color: #fff;
  font-size: 1em;
}
.character {
  text-transform: capitalize;
  font-family: "outfit", sans-serif;
  display: flex;
  align-items: center;
  gap: 1em;
  line-height: 4.1em;
}
