@media (max-width: 768px) {
  .main-container {
    font-size: 14px;
    width: 360px;
    padding-block: 10px;
    padding-inline: 10px;
  }
  .image-container {
    margin-left: 10px;
    width: 320px;
    height: 295px;
  }
  .title-name,
  .details,
  .content-icon {
    padding-left: 12px;
  }
}

@media (max-width: 375px) {
  .main-container {
    width: 320px;
    font-size: 12px;
  }
  .image-container {
    margin-left: 5px;
    width: 290px;
  }
}
